/kustomize
/k8s/authelia/overlays/production/authelia-config.yaml
/k8s/cert-manager/cloudflare-secret.yml
/k8s/cert-manager/letsencrypt.yaml
/k8s/longhorn/ingress.yaml
/k8s/metallb/values.yaml
/stacks/changedetection/overlays/production/ingress-patch.yaml
/stacks/ddclient/overlays/production/secret/ddclient.conf
/stacks/diun/overlays/production/secret/pushover.username
/stacks/diun/overlays/production/secret/pushover.secret
/stacks/heimdall/overlays/production/ingress-patch.yaml
/stacks/homeassistant/overlays/production/ingress-patch.yaml
/stacks/kubenav/overlays/production/ingress-patch.yaml
/stacks/scrypted/overlays/production/ingress-patch.yaml
/stacks/tanoshi/overlays/production/ingress-patch.yaml
/stacks/thelounge/overlays/production/ingress-patch.yaml
/stacks/whoami/overlays/production/ingress-patch.yaml
/stacks/znc/overlays/production/ingress-tcp-patch.yaml
/stacks/znc/overlays/production/ingress-patch.yaml
/stacks/homeassistant/overlays/production/env.txt
/k8s/authelia/overlays/production/env.txt
/stacks/znc/overlays/production/env.txt
/stacks/blocky/overlays/production/env.txt
/stacks/blocky/overlays/production/blocky-config.yaml
/apps/production/blocky/blocky-config.yaml
/apps/production/blocky/env.txt
